body {
    background-color: rgb(130, 172, 228);
}

#nav {
    padding: 0;
}

.navbar {
    color: black;
    background-color: rgb(9, 10, 12);
    padding-inline-start: 0.063rem; /* Convertido de 1rem */
    border-bottom: 4px solid aliceblue ;
    box-shadow: 0 4px 4px beige;
     


}

.carousel-item img {
    width: 100%;
    object-fit: cover;
    border-bottom: 4px solid;
    max-height: 500px;
}  /*Ajuste a imga carousel para que no se salga de su altuera*/

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-in 7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.hw {
    height: 30rem;
}

form {
    display: flex;
    margin-left: 5rem; /* Convertido de 20rem */
    margin-right: 5rem; /* Convertido de 20rem */
    width: 50rem;
}

#searchbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem; /* Convertido de 80px */
    background-color: cornflowerblue;
    border-bottom: 0.25rem solid #98cef1; /* Convertido de 4px */
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.1); /* Convertido de 4px */
}

#searchbar button {
    background-color: #161635; 
    color: #ffffff; 
    border-color: #250e0e; 
}

.section-top {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 3%;
    height: auto;
}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem; /* Convertido de 48px */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.063rem; /* Convertido de 1px */
    margin-bottom: 2rem; /* Convertido de 4rem */
    display: block;
    height: auto;
}

#marcas {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.brand-item {
    width: 6.25rem; /* Convertido de 100px */
    height: 6.25rem; /* Convertido de 100px */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.brand-item:hover img {
    box-shadow: 0 0 0.625rem 0.3125rem rgb(194, 194, 194); /* Convertido de 10px y 5px */
    transition: box-shadow 0.3s ease;
    width: 100%;
    display: block;
}


.brand-item img {
    width: 100px;
    height: 100px;
    height: auto;
    display: block;

} /*Ajuste a los iconos de marcas para que no salgan de un cuadrado definido*/


.card-deck{
    margin-top: 2rem;
    background-color: aliceblue;
    border-radius: 3%;
    

}


.icons {
    padding-top: 2rem;
    margin:auto;
    display: flex;
    justify-content: center;

}

.icons div {
    margin: 0 20px; 
}

footer {
    margin-top: 2rem;
    background-color: rgb(255, 254, 254);
    color: black;
    padding: 20px;
}

.text{
    margin-top: 1rem;
    text-align: center;
}